.winner-card {
  border: none;
  box-shadow: 0 2px 8px hsla(0, 0%, 0%, 0.1) !important;
}

.winner-logo {
  width: 180px;
  height: 100px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  padding: 5px;
}
