.banner_title {
  margin-bottom: 16px;
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-family: "Roboto-Bold";
    color: white;
  }
  img {
    padding-right: 18px;
    height: 36px;
    width: 48px;
    cursor: pointer;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .banner_title h1 {
    font-size: 38px;
    line-height: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .banner_title {
    h1 {
      font-size: 26px;
      line-height: 26px;
    }
  }
}
