.banner {
  padding: 48px 73px 0;
  min-height: 264px;
  background-color: #0179e6;
  background-image: url(../images//heading-Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  .heading {
    font-size: 32px;
    line-height: 40px;
    font-family: "Roboto-Bold";
  }
}

@media only screen and (max-width: 767px) {
  .banner {
    padding: 40px 30px 0;
    .heading {
      font-size: 40px;
      line-height: 40px;
    }
    .heading-background {
      background-image: url(../images//helpSupport.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 260px;
      display: block;
      margin-left: -30px;
      margin-right: -30px;
      margin-top: 30px;
    }
  }
}
