.forgotPassword {
  font-family: Roboto-Regular;
  font-size: 16px;
  .header-text {
    font: normal normal bold 35px/42px Roboto-Bold;
    color: #2e4d9c;
  }
  .resendotp {
    font-family: "Roboto-Bold";
    font-size: 18px;
    color: #2e4d9c;
  }
  .emailTimer {
    font-family: "Roboto-Bold";
    font-size: 18px;
    color: #7c7c7c;
  }
  .link {
    color: #323232;
  }
  .mandatoryNotification {
    font-family: "Roboto-Bold";
    font-size: 18px;
  }
  .star {
    font-size: 18px;
  }

  .otpInput {
    width: 54px;
    height: 55px;
    border-radius: 0px;
    margin-right: 11px;
  }
  .code-div {
    margin-bottom: 2rem;
  }
  .code-div input.form-control {
    width: 54px;
    height: 55px;
    border-radius: 0px;
    margin-right: 20px;
    text-align: center;
    color: #7c7c7c;
    font-size: 40px;
  }
  .form-control:disabled {
    cursor: not-allowed;
  }
  .responsive-header {
    display: flex;
  }
  .backpositioning {
    margin-left: 2rem;
  }
  .email-text {
    font: normal normal normal 20px/24px Roboto;
    color: #171717;
  }
  .textareaSquare {
    border-radius: unset;
    font-size: 14px;
    margin-left: 0.7rem;
    margin-top: 0.4rem;
    margin-bottom: 0.5rem;
    color: #323232;
    background-color: transparent;
    height: 40px;
    font-family: "Roboto-Regular";
    font-weight: bold;
  }
  .rowspace {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .content {
    max-width: 1360px;
    padding: 40px 92px 75px 92px !important;
    margin: 0 auto;
  }
  .logo {
    width: 116px;
    height: 116px;
    object-fit: cover;
    margin-bottom: 8px;
    margin-left: -18px;
  }
  h1 {
    font-size: 45px;
    color: #2e4d9c;
    font-family: Roboto-Bold;
    margin-bottom: 4px;
  }
  input::placeholder {
    font-size: 18px;
    font-family: Roboto-Medium;
    color: #323232;
  }
  p {
    margin-bottom: 20px;
  }
  .Footer-1 {
    display: none;
  }
  .primaryBlue,
  .primaryWhite {
    border: 1px solid #25a7ff;
    font-family: Roboto-Medium;
    font-size: 16px;
    height: 36px;
    width: 120px;
    font-weight: unset;
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }
  .submit-btn {
    margin-top: 5px;
    .primaryBlue {
      margin-right: 10px;
    }
  }
  #conditions {
    padding-left: 14px;
    margin-top: 30px;
    font-size: 16px;
    font-family: Roboto-Medium;
  }
  .form-floating>.form-control:disabled~label::after, .form-floating>:disabled~label::after {
    background-color: #fafafa;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .floating-label {
    width: 50%;
  }
}
@media screen and (max-width: 1400px) {
  .responsive-header .registerLabel {
    font-size: 22px;
    line-height: 33px;
  }
}
@media (max-width: 600px) {
  .responsive-header {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }
  .responsive-header .backpositioning {
    margin-left: 0rem;
    margin-bottom: 5px;
  }
  .responsive-header .registerLabel {
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 767px) {
  .forgotPassword {
    .content {
      padding: 50px 30px 100px 30px !important;
    }
    h1 {
      font-size: 36px;
    }
    .floating-label {
      width: 100%;
    }
    #floatingInput {
      width: 100%;
    }
  }
}
