.formComponent .form-floating input,
.formComponent .form-floating .form-select,
.formComponent .form-floating textarea {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #a3a3a3;
  color: #323232;
  background-color: transparent;
  height: 40px;
  border-radius: 0;
  padding: 4px 0;
  font-family: "Roboto-Regular";
}
.formComponent .form-floating input:disabled,
.formComponent .form-floating .form-select:disabled,
.formComponent .form-floating textarea:disabled {
  cursor: not-allowed;
}
.formComponent .form-floating textarea {
  min-height: 130px;
}
.formComponent .form-floating .form-select {
  padding-top: 24px;
  background-position: right center;
  background-origin: content-box;
}
.formComponent .form-floating input:focus,
.formComponent .form-floating .form-select:focus,
.formComponent .form-floating textarea:focus {
  outline: none;
  border-bottom: 1px solid #25a7ff;
  box-shadow: none;
}
.formComponent .form-floating label {
  padding-left: 0;
  left: -2px;
  font-size: 16px;
  padding-top: 24px;
  color: #323232;
  font-family: "Roboto-Regular";
}

.formComponent .form-floating > .form-control-plaintext ~ label::after,
.formComponent .form-floating > .form-control:focus ~ label::after,
.formComponent
  .form-floating
  > .form-control:not(:placeholder-shown)
  ~ label::after,
.formComponent .form-floating > .form-select ~ label::after {
  background-color: transparent;
}

.formComponent .form-floating > .form-control-plaintext ~ label,
.formComponent .form-floating > .form-control:focus ~ label,
.formComponent .form-floating > .form-control:not(:placeholder-shown) ~ label,
.formComponent .form-floating > .form-select ~ label {
  padding-top: 0px;
  font-size: 16px;
  color: #323232;
  transform: scale(1);
  height: 24px;
}

.formComponent .form-text {
  color: #323232;
  font-weight: bold;
}

.formComponent input:required ~ label:after,
.required-label:after {
  content: "*" !important;
  color: #ff0101;
  padding: 0px 4px;
  position: unset !important;
}
.formComponent select:required ~ label:after,
.formComponent textarea:required ~ label:after {
  content: "*" !important;
  color: #ff0101;
  padding: 0px 4px;
  top: 1px !important;
  left: 0 !important;
  position: relative !important;
}