.join-header {
  background-color: #0179e6;
  background-image: url(../images/heading-Banner.png);
  height: 770px;
  padding-top: 48px;
  background-repeat: no-repeat;
  background-size: cover;

  .join-breadcrumb .header-title {
    font-size: 45px;
    font-family: Roboto-Bold;
    color: white;
  }
}
.join-banner {
  background-image: url(../images/how-to-join-img.png);
  background-size: 60% 864px;
  background-repeat: no-repeat;
  height: 864px;
  margin-top: -620px;
  padding: 24px 146px;
  padding-top: 48px;
  margin-bottom: 100px;

  &__title {
    opacity: 0.76;
    background-color: #000000;
    padding: 36px 52px;
    h2 {
      font-size: 32px;
      color: white;
      font-family: Roboto-Medium;
    }
  }
  &__role-label {
    opacity: 0.76;
    background-color: #000000;
    padding: 12px 18px;
    width: fit-content;
    margin-top: 54px;
    margin-bottom: 10px;
    h3 {
      font-size: 24px;
      color: white;
      font-family: Roboto-Medium;
    }
  }
  ol {
    counter-reset: item;
    list-style-type: none;
    padding-left: 20px;
    margin-bottom: 24px;
  }
  ol li {
    display: block;
    color: #323232;
    font-size: 16px;
    font-family: Roboto-Regular;
  }
  ol li:before {
    content: counter(item) "  ";
    counter-increment: item;
    color: #0186e0;
    margin-left: -22px;
    padding-right: 8px;
  }

  .accordion-item {
    width: 100%;
  }
  .accordion .accordion-item:first-child {
    padding-right: 30px;
  }
  .accordion-body {
    padding: 24px;
    &__title {
      font-size: 16px;
      font-family: Roboto-Bold;
      color: #323232;
      line-height: 22px;
      margin-bottom: 12px;
    }
    &__link {
      color: #25a7ff;
      text-decoration: none;
      font-size: 16px;
      font-family: Roboto-Regular;
    }
    &__link:hover {
      text-decoration: underline;
    }
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .join-banner {
    padding: 38px 64px;
  }
  .join-banner ol {
    overflow: scroll;
    height: 242px;
  }
}
@media only screen and (max-width: 767px) {
  .join-header {
    padding-top: 48px;
    height: 104px;
  }
  .join-breadcrumb {
    padding: 0px 30px 26px 30px;
    margin-bottom: 0px;
  }
 
  .join-header .join-breadcrumb .breadcrumb {
    display: none;
  }
  .join-breadcrumb .header-title {
    font-size: 26px !important;
    margin-bottom: 0px;
  }
  .join-banner {
    background-size: 100% auto;
    height: auto;
    margin-top: 0px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &__title {
      padding: 16px 26px;
      h2 {
        font-size: 20px;
      }
    }
    &__role-label {
      padding: 10px 16px;
      margin-top: 40px;
      h3 {
        font-size: 18px;
      }
    }
    .accordion {
      flex-direction: column;
    }
    .accordion .accordion-item:first-child {
      padding-right: 0px;
    }
    .accordion-header .accordion-button {
      height: 60px;
    }
  }
}
